name: 'Continuous Delivery'

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v1

    - name: Configure Docker for Artifact Registry
      run: gcloud auth configure-docker us-central1-docker.pkg.dev --project=${{ secrets.GCP_PROJECT_ID }}

    - name: Build Docker image
      run: docker build -t us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/latam-repo/challenge-api:${{ github.sha }} .

    - name: Push Docker image
      run: docker push us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/latam-repo/challenge-api:${{ github.sha }}

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy challenge-api \
          --image us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/latam-repo/challenge-api:${{ github.sha }} \
          --region us-central1 \
          --platform managed \
          --allow-unauthenticated \
          --port 8000
